# Byte-compiled / cached files
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll

# Virtual environment
venv/
.env/
*.venv

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg

# Logs and database files
*.log
*.sqlite

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Unit test / Coverage reports
.coverage
htmlcov/
*.cover
coverage.xml
nosetests.xml
pytest_cache/
.cache/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

*~
